.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  position: sticky;
  top: 0;
}

.App-link {
  color: #61dafb;
}

.App-header input {
  font-size: 1em;
  max-width: 90vw;
  -webkit-appearance: none;
  background: #282c34;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.App-header input:focus {
  outline: none;
}

main {
  max-width: 70ch;
  margin: 0 auto;
  font-size: 1.5em;
  padding: 5px;
}

main p {
  line-height: 1.6em;
}

main p a {
  color: inherit;
  text-decoration: none;
}



.icon {
  vertical-align: top;
  margin: auto 0.3em;
  width: 22px;
  height: 1.6em;
}

.inline {
  cursor: pointer;
  display:inline;
}

.bold {
  font-weight: bold;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.arrow-up {
  border-bottom: 5px solid black;
}

.arrow-down {
  border-top: 5px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
